server {
    ## If default vhost
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    ## If additional vhost
    # listen 80;
    # listen [::]:80;

    server_name {{ project_name }}.local;
    root /var/www/{{ project_name }};
    index  index.html index.htm index.php;

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-{{ project_name }}.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    error_log /var/log/nginx/{{ project_name }}_error.log;
    access_log /var/log/nginx/{{ project_name }}_access.log;
}
