<!DOCTYPE html>
<html>
  <head>
    <title>{{ project_name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <style type="text/css">
      body {
        font-family: 'Roboto Mono', monospace;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Your project {{ project_name }} has been successfully setup.</h1>
    <p>Now you can replace the files in the project directory with your
    your application files.</p>
  </body>
</html>
